body{
padding:0px;
margin:0px;
}
a:hover{text-decoration:none;}
.m_text
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:12px;
		color:#454545;
	}

.m1_text
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:13px;
		color:#454545;
	}
m2_text
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:13px;
		color:#454545;
	}
a.m2_text
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:13px;
		color:#454545;
		text-decoration:none;
	}

.m1_text_bold
	{
		font-family:Tahoma;
		font-size:31px;
		line-height:31px;
		color:#454545;
		font-weight: bolder;
	}
	
.h_text
	{
		font-family:Tahoma;
		font-size:13px;
		line-height:13px;
		color:#4785A3;
	}

.h_text_bold
	{
		font-family:Tahoma;
		font-size:20px;
		line-height:20px;
		font-weight: bolder;
		color:#4785A3;
	}

.h_text_bolder
	{
		font-family:Tahoma;
		font-size:46px;
		font-weight: bolder;
		color:#4785A3;
	}	
.l_text
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:11px;
		color:#4785A3;
	}	
a.l_text
	{
		text-decoration:none;
		font-family:Tahoma;
		font-size:11px;
		line-height:11px;
		color:#4785A3;
	}	
a.l_text:hover
	{	
		text-decoration:underline;
		font-family:Tahoma;
		font-size:11px;
		line-height:11px;
		color:#4785A3;
	}	

.l_text_page
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:13px;
		color:#4785A3;
	}	
a.l_text_page
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:13px;
		color:#4785A3;
	}	
a.l_text_page:hover
	{	
		font-family:Tahoma;
		font-size:11px;
		line-height:13px;
		color:#4785A3;
	}	

.l1_text
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:11px;
		color:#93A81C;
	}	
.l1_text_bolder
	{
		font-family:Tahoma;
		font-size:12px;
		line-height:12px;
		font-weight: bolder;
		color:#93A81C;
	}	
.c_text
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:11px;
		color:#FFFFFF;
	}

.form
	{
		width:196px; height:18px; border-color:#878787; border-width:1px; background-color:#ffffff; border-style:solid; padding-left:5px
	}
	
.form1
	{
		width:136px; height:18px; border-color:#878787; border-width:1px; background-color:#ffffff; border-style:solid; padding-left:5px
	}
	
.form_div
	{
		height:21px; margin-top:-1px;		
	}
		
	a.c_text{text-decoration:none;}	
	a.c_text:hover{text-decoration:underline;}

ul {margin:0; padding:0; list-style:none}
li {background:url(images/a.gif) no-repeat left center; margin: 0px 0px 0px 0px; padding:0px 0px 0px 12px}

.h_text_table {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #B5C541;
}

.menu_item {
	text-decoration:none;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;
	height:32px;
	vertical-align: middle;

}	

a.menu_item:hover {
	text-decoration:underline;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;
	height:32px;
	vertical-align: middle;
}	

a.menu_item {
	text-decoration:none;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;
	height:32px;
	vertical-align: middle;
}	

a.h_text_table {
	text-decoration:none;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #B5C541;
}	
a.h_text_table:hover {
	text-decoration:underline;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #B5C541;
}
.m_error
	{
		font-family:Tahoma;
		font-size:12px;
		line-height:12px;
		font-weight: bolder;
		color:#FF0000;
	}
a.m_error
	{
		font-family:Tahoma;
		font-size:12px;
		line-height:12px;
		font-weight: bolder;
		color:#FF0000;
	}
a.m_error:hover
	{
		font-family:Tahoma;
		font-size:12px;
		line-height:12px;
		font-weight: bolder;
		color:#FF0000;
	}

.h_text_black {

		font-family:Tahoma;
		font-size:13px;
		line-height:13px;
		color:#000000;
}

.m_error_11
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:11px;
		color:#FF0000;
	}
.m_noerror
	{
		font-family:Tahoma;
		font-weight: bolder;
		font-size:12px;
		line-height:12px;
		color:#5BBB40;
	}
.m_text_bolder
	{
		font-family:Tahoma;
		font-weight: bolder;
		font-size:12px;
		line-height:12px;
		color:#454545;
	}